<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.grepbugs.codescanner"
            name="GrepBugs">
      </category>
      <view
            allowMultiple="false"
            category="com.grepbugs.codescanner"
            class="com.grepbugs.plugin.eclipse.ui.CodeScannerView"
            icon="icons/grepbugs.png"
            id="com.grepbugs.codescanner.view"
            name="GrepBugs"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.grepbugs.plugin.eclipse.ui.RunGrepBugsHandler"
            id="com.grepbugs.codescanner.run"
            name="Run GrepBugs">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.grepbugs.plugin.eclipse.ui.RunGrepBugsHandler"
            commandId="com.grepbugs.codescanner.run">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <instanceof
                           value="org.eclipse.core.runtime.IAdaptable">
                     </instanceof>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </and>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="com.grepbugs.codescanner.run"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.grepbugs.codescanner.run"
            icon="icons/grepbugs.png">
      </image>
   </extension>

</plugin>
